[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "*"
raven = "*"
toml = "*"
dealer = "*"
jinja2 = "*"

[dev-packages]
python-language-server = {extras = ["all"], version = "*"}
mypy = "*"

[requires]
python_version = "3.8"
